In [1]:
import difflib

import sys
! {sys.executable} -m pip install -q uxdiff tabulate
import uxdiff
import tabulate

In [2]:
seq1 = [
    ("M27AZ9VW", "01", 1),
    ("7AMJ6KBEJ", "01", 50),
    ("7AMJ6KBEJ", "01", 200),
    ("7AMJ6KBEJ", "02", 300),
    ("M27AZ9VW", "01", 400),
    ("AME4BRWJ", "01", 500),
]
seq2 = [
    ('AME4BRWJ', "10", 500),
    ("M27AZ9VW", "01", 400),
    ("7AMJ6KBEJ", "01", 345),
    ("7AMJ6KBEJ", "01", 150),
]

In [3]:
seq1.sort()
seq2.sort()

[difflib.Differ](https://docs.python.org/3/library/difflib.html#differ-objects)

In [4]:
[diff for diff in difflib.Differ().compare(seq1, seq2)]

["+ ('7AMJ6KBEJ', '01', 150)",
 "+ ('7AMJ6KBEJ', '01', 345)",
 "+ ('AME4BRWJ', '10', 500)",
 "- ('7AMJ6KBEJ', '01', 50)",
 "- ('7AMJ6KBEJ', '01', 200)",
 "- ('7AMJ6KBEJ', '02', 300)",
 "- ('AME4BRWJ', '01', 500)",
 "- ('M27AZ9VW', '01', 1)",
 "  ('M27AZ9VW', '01', 400)"]

`uxdiff.Differ` compare any two sequences.

Each item of the sequence must be hashable and iterable (touple, str, etc.).

In [5]:
diffs2 = [
    diff for diff in uxdiff.Differ().compare(seq1, seq2)
    if diff not in [None, True, False]]
diffs2

[(('>', None, None, 0, ('7AMJ6KBEJ', '01', 150)), None),
 (('>', None, None, 1, ('7AMJ6KBEJ', '01', 345)), None),
 (('>', None, None, 2, ('AME4BRWJ', '10', 500)), None),
 (('<', 0, ('7AMJ6KBEJ', '01', 50), None, None), None),
 (('<', 1, ('7AMJ6KBEJ', '01', 200), None, None), None),
 (('<', 2, ('7AMJ6KBEJ', '02', 300), None, None), None),
 (('<', 3, ('AME4BRWJ', '01', 500), None, None), None),
 (('<', 4, ('M27AZ9VW', '01', 1), None, None), None),
 ((' ', 5, ('M27AZ9VW', '01', 400), 3, ('M27AZ9VW', '01', 400)), None)]

code meaning

| Code | Meaning |
| --- | --- |
| `<` | unique to sequence 1 |
| `>` | unique to sequence 2 |
| ` ` | common to both sequences |
| `\|` | different for both sequences |

Easy to see by formatting with html.

In [6]:
def tableview(diffs):
    return tabulate.tabulate([
        (diff[0][1], diff[0][2],
         diff[0][0],
         diff[0][3], diff[0][4],
         (tabulate.tabulate(
             diff[1], tablefmt='unsafehtml',
             headers=["code", "seq1", "seq2"])
          if diff[1] else '')
        ) for diff in diffs
    ], tablefmt='unsafehtml',
        headers=["idx1", "seq1", "code", "idx2", "seq2", "detail"])

In [7]:
tableview(diffs2)

'<table>\n<thead>\n<tr><th style="text-align: right;">  idx1</th><th>seq1                    </th><th>code  </th><th style="text-align: right;">  idx2</th><th>seq2                    </th><th>detail  </th></tr>\n</thead>\n<tbody>\n<tr><td style="text-align: right;">      </td><td>                        </td><td>>     </td><td style="text-align: right;">     0</td><td>(\'7AMJ6KBEJ\', \'01\', 150)</td><td>        </td></tr>\n<tr><td style="text-align: right;">      </td><td>                        </td><td>>     </td><td style="text-align: right;">     1</td><td>(\'7AMJ6KBEJ\', \'01\', 345)</td><td>        </td></tr>\n<tr><td style="text-align: right;">      </td><td>                        </td><td>>     </td><td style="text-align: right;">     2</td><td>(\'AME4BRWJ\', \'10\', 500) </td><td>        </td></tr>\n<tr><td style="text-align: right;">     0</td><td>(\'7AMJ6KBEJ\', \'01\', 50) </td><td><     </td><td style="text-align: right;">      </td><td>                        </td><td>        </td></tr>\n<tr><td style="text-align: right;">     1</td><td>(\'7AMJ6KBEJ\', \'01\', 200)</td><td><     </td><td style="text-align: right;">      </td><td>                        </td><td>        </td></tr>\n<tr><td style="text-align: right;">     2</td><td>(\'7AMJ6KBEJ\', \'02\', 300)</td><td><     </td><td style="text-align: right;">      </td><td>                        </td><td>        </td></tr>\n<tr><td style="text-align: right;">     3</td><td>(\'AME4BRWJ\', \'01\', 500) </td><td><     </td><td style="text-align: right;">      </td><td>                        </td><td>        </td></tr>\n<tr><td style="text-align: right;">     4</td><td>(\'M27AZ9VW\', \'01\', 1)   </td><td><     </td><td style="text-align: right;">      </td><td>                        </td><td>        </td></tr>\n<tr><td style="text-align: right;">     5</td><td>(\'M27AZ9VW\', \'01\', 400) </td><td>      </td><td style="text-align: right;">     3</td><td>(\'M27AZ9VW\', \'01\', 400) </td><td>        </td></tr>\n</tbody>\n</table>'

Adjust the diff by parameters such as cutoff and fuzzy

In [8]:
diffs3 = [
    diff for diff in uxdiff.Differ(cutoff=0.5, fuzzy=0.2).compare(seq1, seq2)
    if diff not in [None, True, False]]
diffs3

[(('|', 0, ('7AMJ6KBEJ', '01', 50), 0, ('7AMJ6KBEJ', '01', 150)),
  [(' ', ('7AMJ6KBEJ', '01'), ('7AMJ6KBEJ', '01')), ('!', (50,), (150,))]),
 (('|', 1, ('7AMJ6KBEJ', '01', 200), 1, ('7AMJ6KBEJ', '01', 345)),
  [(' ', ('7AMJ6KBEJ', '01'), ('7AMJ6KBEJ', '01')), ('!', (200,), (345,))]),
 (('<', 2, ('7AMJ6KBEJ', '02', 300), None, None), None),
 (('|', 3, ('AME4BRWJ', '01', 500), 2, ('AME4BRWJ', '10', 500)),
  [(' ', ('AME4BRWJ',), ('AME4BRWJ',)),
   ('!', ('01',), ('10',)),
   (' ', (500,), (500,))]),
 (('<', 4, ('M27AZ9VW', '01', 1), None, None), None),
 ((' ', 5, ('M27AZ9VW', '01', 400), 3, ('M27AZ9VW', '01', 400)), None)]

In [9]:
tableview(diffs3)

'<table>\n<thead>\n<tr><th style="text-align: right;">  idx1</th><th>seq1                    </th><th>code  </th><th style="text-align: right;">  idx2</th><th>seq2                    </th><th>detail  </th></tr>\n</thead>\n<tbody>\n<tr><td style="text-align: right;">     0</td><td>(\'7AMJ6KBEJ\', \'01\', 50) </td><td>|     </td><td style="text-align: right;">     0</td><td>(\'7AMJ6KBEJ\', \'01\', 150)</td><td><table>\n<thead>\n<tr><th>code  </th><th>seq1               </th><th>seq2               </th></tr>\n</thead>\n<tbody>\n<tr><td>      </td><td>(\'7AMJ6KBEJ\', \'01\')</td><td>(\'7AMJ6KBEJ\', \'01\')</td></tr>\n<tr><td>!     </td><td>(50,)              </td><td>(150,)             </td></tr>\n</tbody>\n</table>         </td></tr>\n<tr><td style="text-align: right;">     1</td><td>(\'7AMJ6KBEJ\', \'01\', 200)</td><td>|     </td><td style="text-align: right;">     1</td><td>(\'7AMJ6KBEJ\', \'01\', 345)</td><td><table>\n<thead>\n<tr><th>code  </th><th>seq1               </th><th>seq2               </th></tr>\n</thead>\n<tbody>\n<tr><td>      </td><td>(\'7AMJ6KBEJ\', \'01\')</td><td>(\'7AMJ6KBEJ\', \'01\')</td></tr>\n<tr><td>!     </td><td>(200,)             </td><td>(345,)             </td></tr>\n</tbody>\n</table>         </td></tr>\n<tr><td style="text-align: right;">     2</td><td>(\'7AMJ6KBEJ\', \'02\', 300)</td><td><     </td><td style="text-align: right;">      </td><td>                        </td><td>        </td></tr>\n<tr><td style="text-align: right;">     3</td><td>(\'AME4BRWJ\', \'01\', 500) </td><td>|     </td><td style="text-align: right;">     2</td><td>(\'AME4BRWJ\', \'10\', 500) </td><td><table>\n<thead>\n<tr><th>code  </th><th>seq1         </th><th>seq2         </th></tr>\n</thead>\n<tbody>\n<tr><td>      </td><td>(\'AME4BRWJ\',)</td><td>(\'AME4BRWJ\',)</td></tr>\n<tr><td>!     </td><td>(\'01\',)      </td><td>(\'10\',)      </td></tr>\n<tr><td>      </td><td>(500,)       </td><td>(500,)       </td></tr>\n</tbody>\n</table>         </td></tr>\n<tr><td style="text-align: right;">     4</td><td>(\'M27AZ9VW\', \'01\', 1)   </td><td><     </td><td style="text-align: right;">      </td><td>                        </td><td>        </td></tr>\n<tr><td style="text-align: right;">     5</td><td>(\'M27AZ9VW\', \'01\', 400) </td><td>      </td><td style="text-align: right;">     3</td><td>(\'M27AZ9VW\', \'01\', 400) </td><td>        </td></tr>\n</tbody>\n</table>'

detail code meaning

| Code | Meaning |
| --- | --- |
| `-` | unique to sequence 1 |
| `+` | unique to sequence 2 |
| ` ` | common to both sequences |
| `!` | different for both sequences |

In [10]:
tableview([
    diff for diff in uxdiff.Differ(cutoff=0.7).compare(
        ["bacon", "eggs", "ham", "guido"],
        ["python", "eggy", "hamster", "guido", "van"]
    )
    if diff not in [None, True, False]]
)

'<table>\n<thead>\n<tr><th style="text-align: right;">  idx1</th><th>seq1  </th><th>code  </th><th style="text-align: right;">  idx2</th><th>seq2   </th><th>detail  </th></tr>\n</thead>\n<tbody>\n<tr><td style="text-align: right;">     0</td><td>bacon </td><td><     </td><td style="text-align: right;">      </td><td>       </td><td>        </td></tr>\n<tr><td style="text-align: right;">      </td><td>      </td><td>>     </td><td style="text-align: right;">     0</td><td>python </td><td>        </td></tr>\n<tr><td style="text-align: right;">     1</td><td>eggs  </td><td>|     </td><td style="text-align: right;">     1</td><td>eggy   </td><td><table>\n<thead>\n<tr><th>code  </th><th>seq1  </th><th>seq2  </th></tr>\n</thead>\n<tbody>\n<tr><td>      </td><td>egg   </td><td>egg   </td></tr>\n<tr><td>!     </td><td>s     </td><td>y     </td></tr>\n</tbody>\n</table>         </td></tr>\n<tr><td style="text-align: right;">     2</td><td>ham   </td><td><     </td><td style="text-align: right;">      </td><td>       </td><td>        </td></tr>\n<tr><td style="text-align: right;">      </td><td>      </td><td>>     </td><td style="text-align: right;">     2</td><td>hamster</td><td>        </td></tr>\n<tr><td style="text-align: right;">     3</td><td>guido </td><td>      </td><td style="text-align: right;">     3</td><td>guido  </td><td>        </td></tr>\n<tr><td style="text-align: right;">      </td><td>      </td><td>>     </td><td style="text-align: right;">     4</td><td>van    </td><td>        </td></tr>\n</tbody>\n</table>'